{% extends 'base.html' %}
{% load static %}

{% block title %}Thêm Thành Viên Mới{% endblock %}

{% block body_block %}
<main class="main" data-aos="fade-up">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="page-title">Thêm Thành Viên Mới</h2>
                    <p>Điền thông tin thành viên nhóm mới.</p>
                </div>
            </div>

            <div class="row justify-content-center mt-5">
                <div class="col-lg-6">
                    <form method="post" class="p-4 border rounded">

                        {% csrf_token %} {{ form.as_p }} <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">Thêm Thành Viên</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

</main>
{% endblock %}